*.iml
.gradle
/local.properties

# Ignore all .idea content by default
.idea/*

# But keep shared project config files (safe to commit)
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/misc.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
